<!-- your html code here -->
<p>Hello, I'm the portfolio.html</p>

<div class="container pb-4">
    <h1 class="text-secondary">Porfolio</h1>
    <p class="fs-4 text-secondary">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus
        magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    <div class="card-group gap-5 col-md-12">
        <div class="card  col-m-4 border-0">
            <div class="card d-flex flex-row justify-content-center align-items-center rounded-0 border-0" style="height: 200px;background-color: rgb(212, 214, 215);">
                <p class="text-secondary fs-2">700</p>
                <p class="text-secondary fs-5">x</p>
                <p class="text-secondary fs-2">400</p>
            </div>  
            <div class="card-body border-0">
                <h4 class="card-title text-primary">Project name</h4>
                
                <small class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nam viverra euismod odio, gravida pellentesque urna
                        varius vitae.</small>
            </div>
        </div>

        <div class="card col-m-4 border-0">
            <div class="card d-flex flex-row  justify-content-center align-items-center rounded-0 border-0" style="height: 200px;background-color: rgb(212, 214, 215);">
                <p class="text-secondary fs-2">700</p>
                <p class="text-secondary fs-5">x</p>
                <p class="text-secondary fs-2">400</p> 
            </div>  
            <div class="card-body">
                <h4 class="card-title text-primary">Project name</h4>
                <small class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nam viverra euismod odio, gravida pellentesque urna
                        varius vitae.</small>
            </div>
        </div>

        <div class="card col-m-4 border-0">
            <div class="card d-flex flex-row justify-content-center align-items-center rounded-0 border-0" style="height: 200px;background-color: rgb(212, 214, 215);">
                 <p class="text-secondary fs-2">700</p>
                <p class="text-secondary fs-5">x</p>
                <p class="text-secondary fs-2">400</p>
            </div>  
            <div class="card-body">
                <h4 class="card-title text-primary">Project name</h4>
                <small class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nam viverra euismod odio, gravida pellentesque urna
                        varius vitae.</small>
            </div>
        </div>
         
        
    </div>
</div>